.favCard .title {
    font-size: 32px;
    color: #253D4E;
}

.favCard .Card {
    flex-wrap: wrap !important;
    background-color: #FFFFFF;
    width: 908px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 40px;
}

.favCard .Card .info img {
    max-height: 100px;
    object-fit: contain;
        cursor: pointer;
}

.favCard .Card .info .description h3 {
    font-weight: 500;
    font-size: 18px;
    color: #1E1E1E;
}

.favCard .Card .info .description span {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
}

.favCard .Card  span {
    color: #1E1E1E;
    font-size: 17px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .favCard{
        width: 90%;
    }
    .favCard .Card {
        width: 120%;
        flex-direction: column;
        gap: 15px;
    }

    .favCard .Card .info {
        width: 100%;
    }
}

@media (max-width: 368px) {
    .favCard{
        width: 85%;
    }
    .favCard .Card {
        width: 120%;
        flex-direction: column;
        gap: 15px;
    }

    .favCard .Card .info {
        width: 100%;
    }
}