.container-fluid {
    position: relative;
    min-height: 395px;
    overflow: hidden;
}

.Welcome-Text {
    width: 623px;
    margin-top: 103px;
}

.Welcome-Text p {
    font-size: 40px;
    font-weight: 600;
}

.Welcome-Image {
    margin-top: 30px;
}



@media screen and (max-width: 1034px) {
    .Welcome-Text {
        /* width: 823px; */
        margin-top: 20px;
    }

    .Welcome-Text p {
        font-size: 30px;
    }

    .Welcome-Image {
        margin-top: -70px;
        margin-right: 100px;
    }

    .Welcome-Image img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Welcome-Text {
        margin-top: 20px;
    }

    .Welcome-Text p {
        font-size: 25px;
    }

    .Welcome-Image {
        margin-top: -30px;
        margin-right: 0px;
    }

    .Welcome-Image img {
        width: 90%;
    }
}

@media screen and (max-width: 340px) {
    .Welcome-Text {
        margin-top: 20px;
    }

    .Welcome-Text p {
        font-size: 25px;
    }

    .Welcome-Image {
        margin-right: 10px;
    }
}