.paymentCard{
    margin-top: 78px;
    width: 391px;
    background-color:#125A7A80 ;
    border-radius: 20px;
}

.paymentCard .titlePaymentCard h2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #FEFEFE;
    margin-top: 0;
}

.paymentCard .titlePaymentCard .paymentCardContainer{
    padding: 0 17px;
}

.paymentCard .titlePaymentCard .paymentCardContainer p{
    font-weight: 500;
    font-size: 14px;
    color: #FEFEFE;
    /* margin: 0 17px 0 0; */
    margin-top: 0;
}

.paymentCard .titlePaymentCard .paymentCardContainer img{
    /* margin: 25px 17px 0 0; */
    margin-top: 9px;
    max-height: 17px;
    object-fit: contain;
}

.paymentCard .titlePaymentCard .table{
    margin-top: -25px;
    border-radius: 20px;
    padding: 10px 0;
}

.paymentCard .titlePaymentCard .table thead tr th{
    font-weight: 600;
    color: #FEFCFC;
}

.paymentCard .titlePaymentCard .table tbody tr td{
    color: #FEFCFC;
    font-weight: 500;
    font-size: 14px;
    word-break: break-word;
    max-width: 0px;  
}

.paymentCard .titlePaymentCard .totalPrice{
    padding: 0 17px;
}

.paymentCard .titlePaymentCard .totalPrice div h5{
    color: #FEFCFC;
    font-weight: 400;
    font-size: 12px;
}

.paymentCard .titlePaymentCard .totalPrice div span{
    color: #FEFCFC;
    font-weight: 400;
    font-size: 16px;
}

.paymentCard .titlePaymentCard .btnPayment button{
    width: 267px;
    height: 40px;
    border: 0;
    background-color: #FEFEFE;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
}