/* ✅ تعديل هنا لتثبيت الطول وتوزيع المحتوى */
.parent-card {
    padding-top: 18px;
    width: 280px;
    height: 329px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* ✅ تحكم في حجم الصورة */
.parent-card .img img {
    max-height: 195px;
    object-fit: contain;
}

.parent-card .info-product {
    margin-right: 16px;
}

.parent-card .info-product .name-product {
    font-weight: 500;
    font-size: 16px;
    color: #253D4E;
    margin-top: 21px;
}

.parent-card .info-product .size-product {
    margin-top: 0;
    color: Grey;
    font-size: 12px;
    font-weight: 400;
}

.price-quantity .price {
    margin-left: 20px;
}

.price-quantity .price span {
    font-size: 18px;
    color: #125A7A;
}